@use '../1-base/_variables'
@use '../1-base/_utilities'

.home-container
    display: flex 
    min-height: 100dvh

    .title.subtitle
        color: variables.$primary-dark-color

    .content-container
        width: 100% 
        min-height: 100%
        display: flex
        flex-direction: column

        .content 
            flex: 1

            #banner 
                min-height: 450px 
                background-image: radial-gradient( rgba(0 , 0 , 0 , 0.3), rgba(0 , 0 ,0 , 0.25)) ,url('../../images/banner-bg.png')
                background-repeat: round
                margin-bottom: 40px
                display: flex
                flex-direction: column
                justify-content: center
                padding: 0 20px

                .subtitle 
                    color: variables.$light-color
                    margin: 30px 0
                    font-size: 1.4rem
                    font-weight: 400

            #highlights
                padding: 0 20px

            .container-products
                padding: 20px
                scroll-margin-top: 50px
                
                .products
                    margin-top: 40px
                    display: grid
                    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
                    gap: 15px
                    height: 100% !important

                    @include utilities.responsive(720px)
                        max-width: 1000px
                        margin: 40px auto
                        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
                        gap: 20px