@use '../1-base/_variables'
@use '../1-base/_utilities'

.main-product 
    padding: 0 20px
    &-content 
        .go-back
            display: flex
            gap: 5px
            width: 80%
            max-width: 400px
            margin: 30px 0 30px 15px
            position: relative

            &-text 
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis

            .icon
                position: absolute
                color: variables.$text-color
                left: -20px
                top: -4px

        .image-container
            width: 100%
            max-width: 400px
            border: 1px solid variables.$primary-dark-color
            padding: 5px
            border-radius: 12px
            margin: 40px auto 40px auto
            

            img 
                width: 100%
                max-height: 400px
                object-fit: contain

        .product-details
            text-align: left
            width: 100%
            max-width: 770px
            margin: 0 auto

            .tag 
                color: variables.$primary-color
                font-size: 1.6rem
                text-transform: uppercase

            & > .product-name 
                font-size: 2rem
                margin: 10px 0

            &-price 
                background: variables.$bg-gradient
                border-radius: 8px
                border: 1px solid variables.$border-color-secondary
                padding: 20px 15px
                margin: 40px 0
                display: flex

                .price 
                    font-size: 3.4rem
                    font-weight: bold
                    color: variables.$price-color

                .parts 
                    font-size: 1.6rem
                    color: variables.$text-color
                    margin-top: 5px

                .trust 
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin: 0 10px 0 auto

                    .icon-frame
                        width: 35px
                        height: 35px
                        @extend %icon-frame-style

                        .icon 
                            font-size: 2.2rem

                    h3 
                        font-size: 1.4rem
                        color: variables.$text-color
                        margin-top: 5px
                    p 
                        font-size: 1.2rem
                        color: variables.$text-color


            .buy 
                margin-bottom: 20px
                height: 45px
            
            .actions-container
                width: 100%
                display: flex
                gap: 15px
                justify-content: center
                margin: 20px 0

            .other-products
                .subtitle 
                    color: variables.$primary-color
                    margin: 40px 0 

                .carousel
                    .buy 
                        height: 40px

                    ul 
                        li 
                            &.is-active
                                transform: none
            