@use '../1-base/_variables'

.btn 
    outline: none
    border: none
    cursor: pointer
    transition: .3s
    background: none

    &.menu
        display: flex
        align-items: center
        gap: 5px
        height: 40px
        padding: 0 8px
        border-radius: 8px
        background: #7C3BED
        background: variables.$primary-gradient
        font-size: 1.2rem
        color: variables.$light-color
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        font-weight: 600

        .icon 
            color: variables.$light-color

    &.buy 
        width: 100%
        height: 35px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 5px
        background: variables.$primary-gradient
        margin: 15px auto 0 auto

        .icon
            color: variables.$light-color

    &.see-more
        border: 1px solid variables.$primary-color
        width: 65px
        height: 25px
        border-radius: 5px
        color: variables.$primary-color
        font-weight: 600
        font-size: 1.2rem
