@use '../1-base/_variables'

.btn 
    outline: none
    border: none
    display: flex

    font-size: 1.4rem
    color: variables.$btn-text-color
    cursor: pointer
    transition: .3s
    gap: 8px

    &.sidebar
        width: 100%
        padding: 12px 16px
        background-color: transparent
        border-radius: 4px
        align-items: center
        font-size: 1.4rem

        &:hover
            background-color: variables.$border-color
            color: variables.$primary-color

        &:hover .icon
            color: variables.$primary-color


    
