@use '../1-base/variables'
@use '../1-base/utilities'

.card 
    border: 1px solid variables.$border-color
    border-radius: 8px
    width: 100%
    min-width: 160px
    height: 340px
    padding: 5px

    @include utilities.responsive(720px)
        height: 410px
        padding: 20px 10px

        .product-name 
            font-size: 1.6rem !important

        .product-price 
            font-size: 2.4rem !important

        .card-image 
            height: 220px !important
            margin-bottom: 10px !important

        .product-tag 
            top: -5px !important

    .card-image 
        width: 100%
        height: 180px
        position: relative

        img 
            width: 100%
            height: 100%
            object-fit: contain

        .product-tag 
            position: absolute
            top: 5px
            background-color: variables.$primary-color
            padding: 5px
            color: white
            font-weight: 600
            font-size: 1.2rem
            border-radius: 4px

    .product-name 
        height: 35px
        overflow: hidden
        font-size: 1.4rem
        color: variables.$title-color
        text-align: left

    .card-bottom 
        margin-top: 10px

        &-left
            text-align: left

            .product-price 
                font-size: 2rem
                font-weight: 600
                color: variables.$primary-color

            .product-price-card
                font-size: 1.4rem
                color: variables.$text-color
                margin: 5px 0