@use '../1-base/_variables'
@use '../1-base/_utilities'

footer 
    padding: 30px 0
    background: variables.$primary-gradient
    display: grid
    position: relative
    align-items: center

    .logo 
        @extend %logo-style
        margin-left: 30px
        top: 40px
        height: 45px
        width: 45px

    .text, .icon
        color: variables.$light-color
        font-size: 1.6rem

    .footer-text 
        display: flex
        flex-direction: column
        text-align: center
        width: 100%
        position: relative
        
        .text 
            margin-top: 20px

        .icon 
            vertical-align: middle

        @include utilities.responsive( 640px )
            padding: 20px 90px 20px 90px
            flex-direction: row
            justify-content: space-between
            align-items: center

            .text 
                margin-top: 0
            
            .footer-links
                margin: 0
                position: absolute
                left: 50% 
                transform: translate(-50%)

    .footer-links
        display: flex
        justify-content: center
        margin: 20px 0 0 0
        gap: 15px

        .social 
            cursor: pointer
            transition: transform 0.3s ease

            &:hover 
                transform: scale(1.2)
            
