@use '../1-base/_variables'
@use '../1-base/_utilities'

header 
    border-bottom: 1px solid variables.$border-color
    padding: 30px 80px
    position: relative
    text-align: center
    background: #7C3BED
    background: linear-gradient(40deg, rgba(124, 59, 237, 1) 0%, rgba(88, 17, 212, 1) 100%)
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20)

    h1 , .shopping
        color: variables.$light-color

    .shopping
        position: absolute
        top: 34px
        left: 18px

    .go-back
        top: 30px
        right: 25px

    
