@use '../1-base/_variables'

header 
    border-bottom: 1px solid variables.$border-color
    display: flex
    align-items: center
    padding: 15px 80px
    gap: 60px

    .header-icons
        .icon:first-of-type
            margin-right: 15px

            &:hover 
                cursor: pointer
                color: variables.$primary-color

