@use '../1-base/_variables'
@use '../1-base/_utilities'

.mobile-menu 
    width: 100%
    padding: 20px 10px

    ul
        display: flex
        justify-content: center

    li
        display: inline-block
        
        &:not(:first-of-type)
            margin-left: 15px
                 

// .sidebar-container 
//     width: 300px
//     min-height: 100vh
//     padding: 30px 10px
//     border-right: 1px solid variables.$border-color

//     @include utilities.mobile( 640px) 
//         display: none
//         background: red

//     .box 
//         margin-bottom: 30px

//     .sidebar-title 
//         font-size: 1.6rem
//         font-weight: 600
//         margin-bottom: 15px
//         color: variables.$sidebar-title-color

//     &.hidden 
//         width: 40px
//         overflow: hidden
//         position: relative
//         transition: .3s all ease-in-out

//         h2
//             visibility: hidden
//             display: none

//         button 
//             color: transparent

//             &:hover 
//                 background: transparent
//                 cursor: pointer
//                 color: transparent

//         .icon 
//             position: absolute
//             transform: translateX(-17px)

//         .box:first-of-type 
//             margin-top: 25px
