@use '../1-base/_variables'

.page-controls
    display: flex
    align-items: center
    justify-content: center
    gap: 15px
    margin: 25px 0

    .page-number 
        font-size: 2rem
        margin: 0 10px
        color: variables.$primary-color
        font-weight: 600