@use './_variables'


.title 
    &.main
        font-size: 2.8rem
        color: variables.$light-color

    &.footer 
        font-size: 2rem
        color: variables.$light-color

    &.subtitle 
        font-size: 2.4rem

    &.product-category
        font-size: 1.2rem
        color: variables.$text-color

    &.small 
        font-size: 1.4rem
        font-weight: 400

.title-dropdown 
    font-size: 1.2rem
    cursor: pointer
    letter-spacing: 0.5px
    color: variables.$primary-dark-color

.text 
    font-size: 1.4rem
    color: variables.$text-color

    &.topic
        font-size: 1.2rem
        font-weight: 600