@use './_variables'

%icon-frame-style
  background: variables.$secondary-gradient
  border-radius: 12px
  display: flex
  align-items: center
  justify-content: center
  transition: transform 0.3s ease

  &:hover 
    transform: scale(1.1)

  .icon 
    color: variables.$light-color
    font-size: 3.6rem

@mixin responsive( $size) 
  @media (min-width: $size)
    @content

@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

@keyframes quick-spin
  0%
    transform: rotate(0deg) scale(1.3)
  100%
    transform: rotate(180deg)

@keyframes zoom-out 
  0%
    transform: scale(1.3)
  100%
    transform: scale(1)

@keyframes shine
  0% 
    right: -60px

  50%
    right: 100%
    transform: rotate(0)
    width: 150px
    filter: blur(10px)

  100%
    right: -60px
  
