$primary-color: rgb(124, 59, 237)
$primary-dark-color: rgb(88, 17, 212)

$primary-gradient: linear-gradient(40deg, rgba(124, 59, 237, 1) 0%, rgba(88, 17, 212, 1) 100%)

$light-color: #fff

$bg-color: #c7c7c7
$bg-dropdown: rgba(88, 17, 212, 0.1)

$border-color: $primary-color
$border-color-secondary: #e7e7e7

$btn-text-color: #131316

$title-color: rgb(9, 9, 11)
$sidebar-title-color: #686868

$text-color: #71717A
$link-color: #3F3F46

$price-color: #7C3BED

$icon-color: rgb(10, 10, 10)

$danger-color: #e54f4f