$primary-color: rgb(124, 59, 237)
$primary-dark-color: rgb(88, 17, 212)

$primary-gradient-tranparent: rgba(124, 59, 237, 0.753)

$primary-gradient: linear-gradient(144deg,rgba(107, 29, 242, 1) 0%, rgba(139, 44, 222, 1) 31%, rgba(95, 26, 146, 1) 71%, rgba(89, 7, 130, 1) 100%)
$secondary-gradient: linear-gradient(40deg,rgba(210, 138, 230, 1) 0%, rgba(105, 42, 168, 1) 24%, rgba(108, 34, 199, 1) 66%, rgba(122, 20, 255, 1) 100%)
$btn-gradient:linear-gradient(138deg,rgba(144, 48, 171, 1) 0%, rgba(95, 37, 153, 1) 31%, rgba(105, 7, 224, 1) 67%, rgba(77, 17, 145, 1) 100%)
$bg-gradient:linear-gradient(144deg,rgba(245, 242, 242, 1) 0%, rgba(232, 232, 232, 1) 50%, rgba(222, 222, 222, 1) 100%)

$light-color: #fff

$bg-color: #efefef
$bg-dropdown: rgba(88, 17, 212, 0.1)

$border-color: $primary-color
$border-color-secondary: #cccaca
$link-hover-color: #ffd700

$btn-text-color: #131316

$title-color: rgb(9, 9, 11)
$sidebar-title-color: #686868

$text-color: #71717A
$text-dark-color: #424249
$link-color: #3F3F46

$price-color: #7C3BED

$icon-color: rgb(10, 10, 10)

$danger-color: #e54f4f